<div class="modal fade text-left" id="modalCover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-full" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
	            <h4 class="modal-title" id="myModalLabel18">ข้อมูลปก</h4>
	        </div>
			<div class="modal-body">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-1">
										<input type="hidden" id="cov_IdProduct">
										<label>สินค้า</label>
									</div>
									<div class="col-md-11 form-group">
									    <input type="text" class="form-control" id="cov_pName" readonly="readonly">
									</div>
								</div>
								<div class="row">
									<div class="col-md-1">
										<input type="hidden" id="cov_IdType">
										<label>ประเภท</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" class="form-control" id="cov_tName" readonly="readonly">
									</div>
									<div class="col-md-1">
										<input type="hidden" id="cov_IdProduct">
										<label>ศิลปิน</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" class="form-control" id="cov_aName" readonly="readonly">
									</div>
									<hr>
								</div>
								<div class="row">
									<div class="col-md-1">
										<input type="hidden" id="cov_IdProduct">
										<label>เวอร์ชั่น</label>
									</div>
									<div class="col-md-3 form-group">
									    <select class="form-select" id="cov_IdVersion"></select>
									</div>
									<div class="col-md-1">
										<label>เว็บ</label>
									</div>
									<div class="col-md-3 form-group">
									    <select class="form-select" id="cov_IdWebsite"></select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1">
										<input type="hidden" id="IdCover">
										<label>ชื่อปก</label>
									</div>
									<div class="col-md-5 form-group">
									    <input type="text" placeholder="ชื่อปก . . ." class="form-control" id="cName">
									</div>
									<div class="col-md-2">
										<div class="form-check">
										    <div class="custom-control custom-checkbox">
										        <input type="checkbox" class="form-check-input form-check-danger form-check-glow" name="samecover" id="samecover" onchange="samecover()">
										        <label class="form-check-label" for="customColorCheck4">ชื่อเดียวกับเวอร์ชั่น</label>
										    </div>
										</div>
									</div>
									<div class="col-md-1">
										<label>ราคาเต็ม</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_total" style="text-align: right;" oninput="allowOnlyNumber(event)">
									</div>
								</div>
								<div class="divider"><div class="divider-text"> มัดจำ </div></div>
								<div class="row">
									<div class="col-md-1">
										<label>ราคามัดจำ</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_pledge" style="text-align: right;" oninput="allowOnlyNumber(event)">
									</div>
									<div class="col-md-1">
										<label>ยอดที่เหลือ</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_balance" style="text-align: right;" readonly="readonly">
									</div>
								</div>
								<div class="divider"><div class="divider-text"> แบ่งชำระ </div></div>
								<div class="row">
									<div class="col-md-1">
										<label>งวดแรก</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_1st" style="text-align: right;" oninput="allowOnlyNumber(event)">
									</div>
									<div class="col-md-1">
										<label>งวดสอง</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_2nd" style="text-align: right;" oninput="allowOnlyNumber(event)">
									</div>
									<div class="col-md-1">
										<label>งวดสุดท้าย</label>
									</div>
									<div class="col-md-3 form-group">
									    <input type="text" placeholder="0" class="form-control" id="price_last" style="text-align: right;" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-md-3">
					            <div class="row">
						            <div style="border: 1px solid #ddd; padding: 10px; border-radius: 8px; height: 100%; display: flex; align-items: center; justify-content: center;">
						                <img th:src="@{/mazer/dist/assets/images/samples/no-photo.png}" class="img-fluid" id="cov_showImage" style="height: 90%; width: auto; object-fit: contain;">
						            </div>
					            </div>
					        </div>
						</div>
						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<div class="form-check">
								    <div class="custom-control custom-checkbox">
								        <input type="checkbox" class="form-check-input form-check-danger form-check-glow" name="copydata" id="copydata">
								        <label class="form-check-label" for="customColorCheck4">จดจำค่าก่อนบันทึกเอาไว้</label>
								    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<hr>
						<div class="col-md-6">
							<div class="col-md-12 form-group d-flex justify-content-end">
								<button type="button" class="btn btn-success ml-1" onclick="cov_save_new_data()" id="cov_btn_save">
								    <i class="bx bx-check d-block d-sm-none"></i>
								    <span class="d-none d-sm-block">บันทึก</span>
								</button>
								<button type="button" class="btn btn-warning ml-1" onclick="cov_save_edit_data()" id="cov_btn_edit" style="display: none;">
								    <i class="bx bx-check d-block d-sm-none"></i>
								    <span class="d-none d-sm-block">แก้ไข</span>
								</button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-12 form-group">
								<button type="button" class="btn btn-danger ml-1" onclick="cov_clr()" id="ver_btn_cancel">
								    <i class="bx bx-check d-block d-sm-none"></i>
								    <span class="d-none d-sm-block">ยกเลิก</span>
								</button>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-body">
						<table class="table table-striped" id="table2">
							<thead>
								<tr>
									<th class="fix_width">แก้ไข</th>
									<th class="fix_width">ลบ</th>
									<th class="fix_width">คัดลอก</th>
									<th class="fix_width">#</th>
									<th class="auto_width">ปก</th>
									<th class="auto_width">เว็บ</th>
									<th class="auto_width">เวอร์ชั่น</th>
									<th class="status_width">ราคา</th>
									<th class="status_width">มัดจำ</th>
									<th class="status_width">เหลือจ่าย</th>
									<th class="status_width">งวดแรก</th>
									<th class="status_width">งวดสอง</th>
									<th class="status_width">งวดสุดท้าย</th>
	                          </tr>
	                      </thead>
	                      <tbody id="mainCover"></tbody>
	                  </table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
					<i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">ปิด</span>
				</button>
			</div>
        </div>
    </div>
</div>