<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header_head"></head>

<script th:src="@{/script/manage/type.js}"></script>

<body>
    <div id="app">
        <div th:replace="common/menu :: menu"></div>
		
        <div id="main">
            <header th:replace="common/header :: header_nav"></header>

            <div class="page-heading">
                <h3>ข้อมูลประเภท</h3>
            </div>
            
			<div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
								<div class="card">
									<div class="card-header">
										<div class="buttons">
									        <a class="btn btn-lg icon icon-left btn-success" onclick="new_data()"><i data-feather="plus-square"></i> เพิ่มข้อมูลใหม่</a>
									    </div>
									</div>
			                        <div class="card-body">
			                            <table class="table table-striped" id="table1">
			                                <thead>
			                                    <tr>
													<th class="fix_width">แก้ไข</th>
													<th class="fix_width">ลบ</th>
													<th class="fix_width">#</th>
			                                        <th class="auto_width">ชื่อ</th>
			                                    </tr>
			                                </thead>
			                                <tbody th:utext="${mainType}"></tbody>
			                            </table>
										<div class="modal fade text-left" id="modalManageData" tabindex="-1"
                                            role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
	                                                	<h4 class="modal-title" id="myModalLabel18">จัดการข้อมูล</h4>
                                                    </div>
													<div class="modal-body">
														<div class="row">
															<input type="hidden" id="IdType">
															<div class="col-md-12 form-group">
																<div class="input-group">
														            <span class="input-group-text" style="width: 120px; justify-content: right;">ชื่อประเภท</span>
																	<input type="text" placeholder="..." class="form-control" id="tName">
																</div>
															</div>
														</div>
		                                            </div>
                                                    <div class="modal-footer">
														<button type="button" class="btn btn-warning ml-1" onclick="save_edit_data()" id="btn_edit" style="display: none;">
														    <i class="bx bx-check d-block d-sm-none"></i>
														    <span class="d-none d-sm-block">แก้ไข</span>
														</button>
														<button type="button" class="btn btn-success ml-1" onclick="save_new_data()" id="btn_save">
														    <i class="bx bx-check d-block d-sm-none"></i>
														    <span class="d-none d-sm-block">บันทึก</span>
														</button>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">ปิด</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
			                        </div>
			                    </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
			
            <footer th:replace="common/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>