<div class="modal fade text-left w-100" id="modalCheckout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel16">ชำระเงิน</h4>
                 <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                     <i data-feather="x"></i>
                 </button>
             </div>
             <div class="modal-body">
             	<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-1">
										<input type="hidden" id="IdProduct">
										<label>ชื่อลูกค้า</label>
									</div>
									<div class="col-md-5 form-group">
										<select class="form-select" id="customer_Name"></select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<hr>
								<div class="row">
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">ลบ</div>
								    </div>
								    <div class="col-md-6">
								    	<div class="fw-bold text-dark">รายการ</div>
								    </div>
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">ราคาเต็ม</div>
								    </div>
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">ราคามัดจำ</div>
								    </div>
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">จำนวน</div>
								    </div>
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">ราคาเต็ม รวม</div>
								    </div>
								    <div class="col-md-1">
								    	<div class="fw-bold text-dark">ราคามัดจำ รวม</div>
								    </div>
								</div>
								<hr>
								<div class="row" id="list_item"></div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-3">
										<label>ชำระเงิน</label>
									</div>
									<div class="col-md-9 form-group">
										<select class="form-select" id="IdPayMethod"></select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<label>ราคาเต็ม</label>
									</div>
									<div class="col-md-9 form-group">
										<div class="input-group input-group-lg mb-3">
	                                        <input type="text" placeholder="0" class="form-control" id="co_sum_price_total" style="text-align: right;" readonly="readonly">
	                                        <span class="input-group-text">บาท</span>
	                                    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<label>ราคามัดจำ</label>
									</div>
									<div class="col-md-9 form-group">
										<div class="input-group input-group-lg mb-3">
									    	<input type="text" placeholder="0" class="form-control" id="co_sum_price_pledge" style="text-align: right;" readonly="readonly">
									    	<span class="input-group-text">บาท</span>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<label>ยอดที่เหลือ</label>
									</div>
									<div class="col-md-9 form-group">
										<div class="input-group input-group-lg mb-3">
									    	<input type="text" placeholder="0" class="form-control" id="co_sum_price_balance" style="text-align: right;" readonly="readonly">
									    	<span class="input-group-text">บาท</span>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
             </div>
             <div class="modal-footer">
				<button type="button" class="btn btn-warning ml-1" onclick="alertSelectedRadio()" id="btn_edit" style="display: none;">
				    <i class="bx bx-check d-block d-sm-none"></i>
				    <span class="d-none d-sm-block">แก้ไข</span>
				</button>
				<button type="button" class="btn btn-success ml-1" onclick="save_new_data()" id="btn_save">
				    <i class="bx bx-check d-block d-sm-none"></i>
				    <span class="d-none d-sm-block">บันทึก</span>
				</button>
		        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
		            <i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">ปิด</span>
		        </button>
             </div>
         </div>
     </div>
 </div>