<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header_head"></head>

<script th:src="@{/script/product/product.js}"></script>

<body>
    <div id="app">
        <div th:replace="common/menu :: menu"></div>
		
        <div id="main">
            <header th:replace="common/header :: header_nav"></header>
            <div class="page-heading">
                <h3>บันทึกออร์เดอร์</h3>
            </div>
			<div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
								<div class="card">
			                        <div class="card-body">
			                            <table class="table table-striped" id="table1">
			                                <thead>
			                                    <tr>
													<th class="fix_width"></th>
													<th class="fix_width">#</th>
													<th class="logo_width"></th>
			                                        <th class="auto_width">ชื่อ</th>
													<th class="status_width">ประเภท</th>
													<th class="auto_width">ศิลปิน</th>
													<th class="status_width">ปิดรับ</th>
													<th class="status_width">กำหนดส่ง</th>
													<th class="status_width">ชำระงวดที่สอง</th>
													<th class="status_width">เก็บยอดที่เหลือ</th>
			                                    </tr>
			                                </thead>
			                                <tbody th:utext="${mainProduct}"></tbody>
			                            </table>
			                        </div>
			                    </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer th:replace="common/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>