<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header_head"></head>

<script th:src="@{/script/product.js}"></script>

<body>
    <div id="app">
        <div th:replace="common/menu :: menu"></div>
		
        <div id="main">
            <header th:replace="common/header :: header_nav"></header>

            <div class="page-heading">
                <h3>ข้อมูลสินค้า</h3>
            </div>
            
			<div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
								<div class="card">
									<div class="card-header">
										<div class="buttons">
									        <a class="btn btn-lg icon icon-left btn-success" onclick="new_data()"><i data-feather="plus-square"></i> เพิ่มข้อมูลใหม่</a>
									    </div>
									</div>
			                        <div class="card-body">
			                            <table class="table table-striped" id="table1">
			                                <thead>
			                                    <tr>
													<th class="fix_width"></th>
													<th class="auto_width">ภาพ</th>
			                                        <th class="auto_width">ชื่อ</th>
													<th class="auto_width">ประเภท</th>
													<th class="auto_width">ศิลปิน</th>
													<th class="auto_width">ปิดรับ</th>
													<th class="auto_width">กำหนดส่ง</th>
													<th class="auto_width">ชำระงวดที่สอง</th>
													<th class="auto_width">เก็บยอดที่เหลือ</th>
													<th class="auto_width">สถานะ</th>
													<th class="fix_width"></th>
			                                        <th class="fix_width"></th>
			                                        <th class="fix_width"></th>
			                                    </tr>
			                                </thead>
			                                <tbody th:utext="${mainProduct}"></tbody>
			                            </table>
										<div class="modal fade text-left" id="modalManageData" tabindex="-1"
                                            role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
                                                role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel18">จัดการข้อมูล</h4>
                                                    </div>
													<div class="modal-body">
														<div class="row">
															<div class="col-md-2">
																<input type="hidden" id="IdProduct">
																<label>ชื่อสินค้า</label>
															</div>
															<div class="col-md-10 form-group">
															    <input type="text" placeholder="ชื่อสินค้า . . ." class="form-control" id="pName">
															</div>
														</div>
														<div class="row">
															<div class="col-md-2">
																<label>ประเภท</label>
															</div>
															<div class="col-md-4 form-group">
																<select class="choices form-select" th:utext="${ListType}" id="IdType"></select>
														    </div>
															<div class="col-md-2">
																<label>ศิลปิน</label>
															</div>
															<div class="col-md-4 form-group">
																<select class="choices form-select" th:utext="${ListArtist}" id="IdArtist"></select>
															</div>
														</div>
														<div class="row">
														    <div class="col-sm-2">
																<label>วันที่ปิดรับ</label>
															</div>
															<div class="col-md-4 form-group">
																<input type="date"class="form-control" id="end_date">
														    </div>
															<div class="col-md-2">
																<label>วันที่กำหนดส่งของ</label>
															</div>
															<div class="col-md-4 form-group">
															    <input type="date"class="form-control" id="send_date">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-2">
																<label>วันที่เก็บงวดที่สอง</label>
															</div>
															<div class="col-md-4 form-group">
															    <input type="date"class="form-control" id="second_pay_date">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-2">
																<label>เก็บยอดที่เหลือ</label>
															</div>
															<div class="col-md-4 form-group">
															    <select class="choices form-select" th:utext="${ListPaymentType}" id="IdPaymentType"></select>
															</div>
															<div class="col-sm-2">
																<label>วันที่เก็บยอดที่เหลือ</label>
															</div>
															<div class="col-md-4 form-group">
															    <input type="date"class="form-control" id="last_pay_date">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-2">
																<label>สถานะ</label>
															</div>
															<div class="col-md-4 form-group">
															    <select class="choices form-select" th:utext="${ListProductstatus}" id="IdProductStatus"></select>
															</div>
															<div class="col-md-2">
																<label>ลิ้งภาพ</label>
															</div>
															<div class="col-md-4 form-group">
																<div class="input-group mb-3">
				                                                    <input type="text" class="form-control" placeholder="ลิ้งภาพ . . ." id="pPic">
				                                                    <button class="btn btn-dark" type="button" id="button-addon2" onclick="updateImage()">โหลดภาพ</button>
				                                                </div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-6"></div>
															<div class="col-md-2"></div>
															<div class="col-sm-5">
																<img th:src="@{/mazer/dist/assets/images/samples/no-photo.png}" class="profile-img" id="showImage">
															</div>
														</div>
														
													</div>
                                                    <div class="modal-footer">
														<button type="button" class="btn btn-warning ml-1" onclick="save_edit_data()" id="btn_edit" style="display: none;">
														    <i class="bx bx-check d-block d-sm-none"></i>
														    <span class="d-none d-sm-block">แก้ไข</span>
														</button>
														<button type="button" class="btn btn-success ml-1" onclick="save_new_data()" id="btn_save">
														    <i class="bx bx-check d-block d-sm-none"></i>
														    <span class="d-none d-sm-block">บันทึก</span>
														</button>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">ปิด</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
			                        </div>
			                    </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
			
            <footer th:replace="common/footer :: footer"></footer>
        </div>
    </div>
</body>
</html>